.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 90px;
  background: #ffffff;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.navbar:global(.__wab_instance) {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.intro {
  height: 100vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__zkHqg {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__zkHqg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__zkHqg > :global(.__wab_flex-container) > *,
.freeBox__zkHqg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zkHqg > :global(.__wab_flex-container) > picture > img,
.freeBox__zkHqg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBox__p4X5M {
  background: url("/plasmic/fusion_lab/images/dalle20231228172044AModernBridgeShowcasingContemporaryArchitectureTheBridgeSpansAWideRiverReflectingASleekFuturisticDesign1.png") center center / cover no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.freeBox__siZfd {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jaGgr {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__n6I7 {
  display: block;
  font-size: 112px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: -5.6px;
  line-height: 112px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__n6I7 {
    font-size: 60px;
  }
}
.actionButton:global(.__wab_instance) {
  position: relative;
}
.projectSelection {
  background: rgba(11, 80, 62, 1);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-width: 0;
  padding: 60px;
}
.projectSelection > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 60px);
  height: calc(100% + 60px);
}
.projectSelection > :global(.__wab_flex-container) > *,
.projectSelection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.projectSelection > :global(.__wab_flex-container) > picture > img,
.projectSelection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 60px;
}
.freeBox___5Ne4N {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.freeBox___5Ne4N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox___5Ne4N > :global(.__wab_flex-container) > *,
.freeBox___5Ne4N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Ne4N > :global(.__wab_flex-container) > picture > img,
.freeBox___5Ne4N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.freeBox___5C98F {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__rXqv7 {
  display: block;
  font-size: 63px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 80px;
  color: rgba(255, 255, 255, 1);
}
.freeBox__k0EkO {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.freeBox__k0EkO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__k0EkO > :global(.__wab_flex-container) > *,
.freeBox__k0EkO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k0EkO > :global(.__wab_flex-container) > picture > img,
.freeBox__k0EkO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.proposalCard__mcBxV:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.proposalCard__uiO3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text___1HmJe {
  height: auto;
  padding-right: 0px;
}
.proposalCard__uf5A:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__p3SfS {
  padding-right: 0px;
}
.proposalCard__v78Ut:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.proposalCard__utOc1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.vote {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
.freeBox__haa7O {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 20px;
}
.freeBox__haa7O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 44px);
  width: calc(100% + 44px);
}
.freeBox__haa7O > :global(.__wab_flex-container) > *,
.freeBox__haa7O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__haa7O > :global(.__wab_flex-container) > picture > img,
.freeBox__haa7O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 44px;
}
.votingCard__scYcV:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.votingCard__x7A0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.votingCard__zJ9Qw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text___7R1Md {
  padding-right: 0px;
}
.votingCard__uEsEd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.votingCard__jpljY:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.gltfView:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100vh;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
